.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #100f0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.button {
  background-color: #202020;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 36px;
  transition: 0.3s ease;
  font-family: 'Exo 2', sans-serif;
  min-width: fit-content;
  max-width: 40%;
  z-index: 0;
  margin-bottom: 30px;

}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: -30px;
  background: none;
}

.username-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 30px;
  background: none;
  margin-bottom: -60px;

}

.thumb {
  width: 10%;
  margin-left: -60px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  min-width: none;
}

.text-in {
  width: 100%;
  padding: 15px 32px;
}



.login {
  z-index: 1;
}

.playlist-url {
  z-index: 2;
}


button:hover {
  background-color: #3b3b3b;
  scale: 1.1;
}

.header-text {
  font-family: 'Exo 2', sans-serif;
  font-size: smaller;
  margin: 10px;
  text-decoration: none;

}

.title-text {
  font-family: 'Exo 2', sans-serif;
  font-size: 50px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: -50px;
}

.desc-text {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: -60px;
}

.header-text,
.header-text:hover,
.header-text:active,
.header-text:visited {
  color: white;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* Set initial opacity to 0 */
  /* Apply fade-in animation */
  z-index: 1;
}

@keyframes fade-in {
  to {
    opacity: 1;
    /* Fade in to full opacity */
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}